/* Color Theme Swatches in Hex */
.darkBlue { color: #0D93B3; }
.lightBlue { color: #B3F0FF; }
.blue { color: #5EDFFF; }
.brown { color: #B3661E; }
.lightBrown { color: #FFAC5E; }

.darkBlueBackground { color: #0D93B3; }
.lightBlueBackground { color: #B3F0FF; }
.blueBackground { color: #5EDFFF; }
.brownBackground { color: #B3661E; }
.lightBrownBackground { color: #FFAC5E; }

* { 
    background-color: #5EDFFF;
    border-color: black;
    border-width: 2px;
}

/* body {
    margin: 2.5%;
} */

nav {
    background-color: #FFAC5E;
}

nav ul li {
    display: inline;
    color: #0D93B3;
    background-color: #FFAC5E;
}

nav ul li {
    width: 5%;
    padding: 1%;
}

nav ul li img {
    float: none;
    width: 5%;
}

main {
    margin: 2.5%;
}

main article {
    float: left;
    margin: 0;
}

main article section {
    background-color: #0D93B3;
    margin: 2.5%;
    padding: 5%;
}

main article section p {
    color: #B3F0FF;
    background-color: inherit;
}

img {
    float: left;
    width: 5%;
}

article img {
    float: left;
    width: 25%;
    padding: 1ex;
    margin: 2ex;
    margin-left: 0;
    margin-top: 0;
}

footer {
    display: block;
    float: none;
}