/* Color Theme Swatches in Hex */
.darkBlue { color: #0D93B3; }
.lightBlue { color: #B3F0FF; }
.blue { color: #5EDFFF; }
.brown { color: #B3661E; }
.lightBrown { color: #FFAC5E; }

.darkBlueBackground { color: #0D93B3; }
.lightBlueBackground { color: #B3F0FF; }
.blueBackground { color: #5EDFFF; }
.brownBackground { color: #B3661E; }
.lightBrownBackground { color: #FFAC5E; }

* { 
    background-color: #0D93B3;
    border: black;
    border-width: 2px;
 }

body {
    margin: 0;
}

nav ul li {
    display: inline;
    color: #0D93B3;
    background: #5EDFFF;
 }

 nav ul li {
     width: 5%;
 }

 nav ul li img {
     width: 5%;
 }

 main article {
    float: left;
    margin: 0;
 }

 main article section {
    background-color: #B3661E;
    margin: 5%;
    padding: 5%;
}

 main article section p {
    background-color: #B3661E;
}

img {
    float: left;
    width: 5%;
}

article img {
    width: 20%;
}
